* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#new-book-btn {
  display: block;
  border: none;
  color: white;
  background-color: green;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#new-book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  max-width: 400px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  align-items: center;
}

.form-item-read {
  align-items: center;
}
.form-item label {
  text-align: center;
}

#new-book-form label,
#new-book-form input {
  font-size: 1rem;
  width: 75%;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#new-book-form input[type="text"],
#new-book-form input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#new-book-form input[type="checkbox"] {
  margin-left: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

#new-book-form input[type="submit"] {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 50%;
}

.book-card {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.card-header {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.author {
  font-size: 1.2rem;
  color: #666;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body p:first-child {
  margin-right: 0.5rem;
}

.read-status {
  font-weight: bold;
  color: green;
  margin-right: 0.25rem;
}

.remove-btn {
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-radius: 5px;
  margin: 0.25rem;
}

.toggle-read-btn {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-radius: 5px;
  margin: 0.25rem;
}

.read-status.read {
  color: green;
}

.read-status.unread {
  color: red;
}

#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
